<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  
	<div class="container-fluid">	

	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
			<div class="navbar-brand-name">
				<img src="/images/favicon.png" style="height:35px"/>
					Julian Q. Kosciessa
			</div>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/tools">Tools</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="https://twitter.com/JulianKosciessa" class="menu-link" target="_blank" title='Twitter'><i class="fa fa-twitter" aria-hidden="false"></i></a></li>
		<li><a href="https://www.researchgate.net/profile/Julian_Kosciessa" class="menu-link" target="_blank"><i class="ai ai-researchgate" aria-hidden="false" title='Research Gate'></i></a></li>
		<li><a href="https://orcid.org/0000-0002-4553-2794" class="menu-link" target="_blank"><i class="ai ai-orcid" aria-hidden="false" title='ORCID'></i></a></li>
		<li><a href="https://github.com/jkosciessa" class="menu-link" target="_blank"><i class="fa fa-github" aria-hidden="false" title='Github'></i></a></li>
		<li><a href="https://scholar.google.de/citations?user=cCY_YoUAAAAJ&hl" class="menu-link" target="_blank"><i class="ai ai-google-scholar" aria-hidden="false" title='Google Scholar'></i></a></li>
		<li><a href="mailto:kosciessa@mpib-berlin.mpg.de" class="menu-link" target="_blank"><i class="fa fa-envelope" aria-hidden="false" title='Contact'></i></a></li>
	  </ul>
	</div>
  </div>
</div>
