---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h2>Introduction</h2>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
    <!-- remove news for now. feels too self-congratulatory :S
    {% include news.html %}
    -->
  <a class="twitter-timeline" href="https://twitter.com/JulianKosciessa" data-tweet-limit="3">Tweets by JulianKosciessa</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bsky-embed@0.0.5/dist/bsky-embed.es.js" async></script>
    <bsky-embed  
      username="juliankosciessa"  
      limit="5"  
    >
    </bsky-embed>
  </div>
